{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-class-properties",
    "react-html-attrs",
    ["babel-plugin-webpack-alias", {"config": "./webpack.config.js"}]
  ]
}
