@import '../colors';

.container {
    background-image: url('~/images/background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainText {
    color: white;
    text-align: center;
    margin-top: 18%;
}

.getStartedButton {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 20px;
    border-radius: 0rem;
    color: white;
    border-color: white;
    transition: 0.3s ease all;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: .70rem 1.5rem 0.75rem 1.5rem !important;

    &:hover {
        color: $gray-400;
        background-color: white;
        border-color: white;
    }

    &:focus, &:active, &:hover {
        outline: none !important;
    }
}

.pushedRight {
    padding-right: 30%;
}
